@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .packages
    grid-gap: 10px
    &__body
      &_first
        padding-top: 36px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
  .card
    width: 24%
    margin-bottom: 20px
  .footer
    padding-top: 73px
    padding-bottom: 33px
    &-wrapper
      grid-template-columns: repeat(7, minmax(min-content, 1fr))
      grid-gap: 10px
      padding-bottom: 78px
    &__logo
      grid-column: 1
      grid-row: 1
      margin-bottom: 40px
    &__categories
      grid-column: 1 / 3
      grid-row: 2
      margin-bottom: 60px
    &__additional
      grid-column: 3 / 6
      grid-row: 2
    &__social
      &-network
        grid-column: 2 / 7
        grid-row: 1
        align-self: center
        padding-left: 86px
    &__legal
      grid-column: 6 / 8
      grid-row: 2
      margin-left: 0
    &__contact
      &-details
        grid-column: 1 / 8
        grid-row: 3
        margin-bottom: 60px
      &-form
        grid-column: 1 / 7
        grid-row: 4
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &__menu
      padding-top: 22px
      padding-bottom: 22px
    &__link
      font-size: 12px
      line-height: 15px
  .search
    &__input
      max-width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .packages
    grid-template: repeat(3, 500px) / 1fr 1fr
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        max-width: 580px
  .card
    width: 339px
@media (max-width: 768px)
  .navbar
    &__search
      margin-left: 47px
    &__menu
      padding-left: 14px
      padding-right: 14px
  .search
    &__input
      width: 340px
      padding-left: 23px
      padding-right: 75px
  .booking
    padding-left: 24px
    padding-right: 24px
  .newsletter
    padding-top: 74px
    padding-bottom: 74px
  .reviews
    &__title
      margin-bottom: 48px
    &-slider
      &__button
        transform: translateY(-15px)
        &_prev
          left: 0
        &_next
          right: 0
  .activities
    padding-top: 52px
    padding-bottom: 52px
  .card
    &__title
      max-width: 200px
  .footer
    &__logo
      margin-top: 0
    &__categories
      margin-bottom: 26px
    &__contact
      &-details
        margin-bottom: 0
      &-form
        max-width: 540px
        width: 100%
    &__rules
      left: 0
      right: auto
@media (max-width: 760px)
  body
    padding-top: 78px
  .container
    max-width: 700px
    width: 92%
  .navbar
    .container
      margin-top: 0
    &_mobile
      &_fixed
        position: fixed
        left: 0
        right: 0
        top: 0
        z-index: 100
    &__user
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
          flex-direction: column
          margin-left: 0
          margin-bottom: 17px
    &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
          flex-direction: column
          margin-left: 0
          margin-bottom: 18px
    &__menu 
      &_mobile
        display: flex
        flex-direction: column
        padding-top: 32px
        & li:nth-child(n + 2)
          margin-bottom: 17px
    &__nav
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px      
      &_visible
        position: fixed
        display: flex
        flex-direction: column
        justify-content: center
        left: 0
        right: 0
        bottom: 0
        top: 72px
  .search
    &__input
      &_mobile
        width: 100%
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column 
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__avatar
      &_mobile
        margin-bottom: 11px
    &__name
      &_mobile
        margin-left: 0
        color: $light
        margin-bottom: 9px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .packages
    grid-template: repeat(2, 500px) / 1fr 1fr
    &-last
      display: none
    &-first
      grid-column-start: span 1
    &__container
      &_first
        grid-template: 50% 50% / 1fr
    &__offer
      padding: 4px 9px
      font-size: 8px
      line-height: 10px
    &__body
      padding: 30px 21px 30px 32px
    &__rating
      display: none
    &__title
      margin-bottom: 23px
    &__text
      display: none
    &__info
      margin-bottom: 24px
    &__icon
      margin-right: 8px
    &__button
      padding-left: 15px
      padding-right: 15px
  .newsletter
    &-wrapper
      max-width: 700px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &__subscribe
      width: 100%
  .reviews
    &__title
      max-width: 245px
      font-size: 18px
      line-height: 23px
      margin: auto
      margin-bottom: 42px
    &-slider
      &__item
        padding: 0 30px 30px
        &:before, &:after
          display: none
      &__button
        top: 30px
        &_prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &_next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
      &__text
        text-align: left
  .card
    width: 49%
    max-width: 339px
  .thankyou
    &__title
      font-size: 16px
    &__text
      font-size: 12px
  .footer
    padding-top: 68px
    padding-bottom: 21px
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 0
    &__logo
      width: 97px
      margin-bottom: 38px
    &__categories
      grid-column: 1
      grid-row: 5
      margin-bottom: 10px
      max-width: 89%
    &__additional
      grid-column: 1
      grid-row: 4
      margin-bottom: 29px
      max-width: 89%
    &__social
      &-network
        grid-column: 1
        grid-row: 2
        flex-direction: column
        justify-content: start
        padding-left: 0
        margin-bottom: 28px
        max-width: 89%
    &__legal
      grid-column: 1
      grid-row: 3
      margin-bottom: 26px
      max-width: 89%
    &__title
      &_inline
        margin-bottom: 21px
        margin-right: 0
      &_form
        margin-bottom: 17px
    &__contact
      &-details
        grid-column: 1
        grid-row: 6
        margin-bottom: 15px
        max-width: 89%
      &-form
        grid-column: 1
        grid-row: 7
        max-width: 89%
    &__text
      max-width: 89%
    &__form
      max-width: 92%
    &__input
      flex-basis: 100%
    &__message
      margin-bottom: 18px
    &__button
      &-wrapper
        flex-direction: column-reverse
        align-items: flex-start
    &__info
      margin-bottom: 10px
    &__item
      &_contact
        max-width: 95%
    &__rules
      display: flex
      justify-content: space-between
      left: auto
      bottom: 32px
      width: 100%
      & li:not(:last-child)
        margin: 0
  .partners
    right: auto
    left: 0
@media (max-width: 576px)
  .logo
    width: 99px
  .slider
    height: 250px
  .hotel
    &__slider
      margin-bottom: 20px
  .packages
    grid-template: repeat(4, 500px) / 1fr
  .activities
    &__title
      font-size: 18px
      line-height: 23px
      text-align: center
      margin-left: -170px
  .card
    min-width: 280px
    width: 100%
    margin: auto
    margin-bottom: 20px
@media (max-width: 360px)
  .activities
    padding-top: 26px
    padding-bottom: 60px
    &__title
      text-align: start
      margin-left: 0
      margin-bottom: 37px
@media (max-width: 320px)
  .container
    width: 280px
  .navbar
    &-top
      padding-top: 25px
  .breadcrumb
    &-list
      padding-top: 16px
  .hotel
    padding-top: 0
    &-grid
      padding-top: 18px
    &-slider
      height: 180px
    &__slider
      margin-bottom: 19px
    &-right
      min-height: 402px
  .booking
    height: 210px
  .stars
    padding-right: 18px
  .booking
    margin-bottom: 19px
  .map
    height: 173px
  .newsletter
    padding-top: 58px
    padding-bottom: 80px
    &-wrapper
      width: 280px
    &-title
      font-size: 20px
      line-height: 25px
      margin-bottom: 39px
      &__strong
        margin-top: 5px
        font-size: 30px
        line-height: 38px
  .subscribe
    &__input
      padding-left: 20px
    &__button
      font-size: 12px
      line-height: 15px
  .reviews
    &-slider
      &__button
        &_prev
          margin-left: -92px
        &_next
          margin-right: -88px
  .activities
    &-wrapper
      & div:nth-child(2n)
        order: 1
      & div:nth-child(n + 3)
        margin-bottom: 28px
      & div:last-child        
        margin-bottom: 0
